<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Timer</title>
</head>
<body>
    <div class="timer1" th:text="${tempo1}"></div>
    <div class="timer2" th:text="${tempo2}"></div>
    
    <form action="/passar" method="get">
        <input type="submit" class="btn btn-primary" value="passar"></input>
    </form>
    <form action="/terminar" method="get">
        <input type="submit" class="btn btn-primary" value="terminar"></input>
    </form>
</body>
</html>